{%extends 'layout.html'%}
{%block body%}
<div class="container d-flex justify-content-between p-5 ">
        <div class="card-title p-4 m-4 bg-dark text-light h-75">
            <h1 class="fw-bold text-primary">New Dojo</h1>
            <form action="/dojos/add_dojo" method="post">
            <label for="name">Name:</label>
            <input type="text" class="text form-control m-1" name="name">
            <button type="submit"class="btn btn-outline-primary m-3">Add Dojo</button>
            </form>
        </div>
    
    <div class="card col-4 m-4 bg-dark text-light">
        <div class="card-title p-4">
            <h1>All Dojos</h1>
            {%for dojo in dojos%}
                <p>
                    <a href="/dojos/{{dojo.id}}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">{{dojo.name}}</a>
                </p>
            {%endfor%}
        </div>
    </div>
    
</div>
<p class="ms-5 ps-5"><a href="/ninjas" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Add Ninja</a></p>
{%endblock%}